* {
  box-sizing: border-box;
  font-family: Ubuntu, Arial;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
  overflow: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #020407;
}

.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #f0f3f6;
}

.navbar {
  padding: 5px;
  margin: 0;
}

.ufo-form {
  margin-top: 100px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #348fe5;
  outline: none;
}

#table-area th {
  text-align: center;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}


.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: #020407;
  background-image: url("nasa.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 200px;
  font-size: 0.2rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
}




